---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.masthead {
    border-bottom: 5px solid #0092ca;
}

.greedy-nav a.site-title {
    font-size: 1.5em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    background: #fff url(../images/logo.jpg) no-repeat left top;
    width: 244px;
    height: 99px;
    margin-right: 0;
}